<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Created</th>
			<th scope="col">Modified</th>
			<th scope="col">Status</th>
		</tr>
	</thead>

	<tbody *ngIf="accountInfo | async as result; else emptyDiv">
		<tr *ngFor="let item of result.items; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>{{ item.created | date }}</td>
			<td>{{ item.modified | date }}</td>
			<td>{{ item.status ? 'Active' : 'Inactive' }}</td>
		</tr>
	</tbody>

	<ng-template #emptyDiv>
		<div class="row">
			<h3 class="text-center text-muted">No hay registros</h3>
		</div>
	</ng-template>
</table>
